@model RestaurantGuide.Entities.Review

@{
    ViewBag.Title = "Review";
}

<h1>Review</h1>

<div>
    Id: @Model.Id
</div>
<div>
    <div>
        <b>Comments:</b>
        <p> @Model.Comment </p>
        <b>Rating:</b>
        <p> @Model.Rating</p><br />
        <b>Restaurant:</b>
        <p>@Model.Restaurant.Name </p>
    </div>
</div>