body {
}

.welcome {
    background-image:url(http://res.cloudinary.com/angela2389/image/upload/v1478270309/table-restaurant_uq0twq.jpg);
    background-size: cover;
    font-size: 100px;
    color: white;
    width: 100%;
    height: 600px;
    margin-top: -25px;
    text-align: center;

}
.restaurantbody {
    display: flex;
}

.restaurantimg {
    flex: 1;
    margin: 5px;
    border: 1px solid black;
    position: relative;
    border-radius: 8px;
}

.restaurantimg img{
    width: 100%;
    border-radius: 8px;
}

.details-review {
    border-top: 1px solid #c5c5c5;
}

.average-rating {
    position: relative;
    border-radius: 50px;
    background-color: red;
    width: 40px;
    height: 40px;
    margin: auto;
}

.rating {
    position: absolute;
    right: 0px;
    color: white;
}

.rating-text {
    background-color: rgba(10,10,10,0.5);
    padding: 1px;
    border-radius: 3px;
}

.rating-no {
    width:40px;
    height:40px;
    border-radius: 50px;
    text-align: center;
    padding-top: 8px;
}

.restaurantdetails {
    margin-top: 10px;
    flex: 1;
}

.panel-default > .panel-heading {
    background-color: #E0B9A4;
}

.container-fluid{
    background-color: #a00000;
}

.navbar-default .navbar-brand{
    color: peachpuff;
}

.navbar-default .navbar-brand:hover{
    color: peachpuff;
}

.btn-primary{
    background-color: #a00000;
    border: 1px solid #E0C8A4;
}

.btn-primary:hover{
    background-color: #E0C8A4;
    border: 1px solid #a00000;
    color: #a00000;
}

.inputfield{

height:50px

}