@model RestaurantGuide.ViewModels.HomePageViewModel

@{
    ViewBag.Title = "Home";
}

<div class="welcome">
    <h1>Welcome to</h1>
    <h1>Angela's favorites</h1>
    <br />
    <form asp-controller="Home" asp-action="Index">
        <h2>
            <input type="text" name="SearchString" placeholder="Restaurant name" />
            <input type="submit" value="Search" />
        </h2>
    </form>

</div>

@foreach (var restaurant in Model.Restaurants)
{
    @Html.Partial("_Summary", restaurant)
}

<div>
    <a class="btn btn-primary" asp-action="Create">Add new restaurant</a>
</div>