@model RestaurantGuide.ViewModels.HomePageViewModel

@{
    ViewBag.Title = "Home";
}

<div class="welcome">
    <p>Welcome to</p>
    <p>Angela's favorites</p>
    <p>SEARCH</p>

</div>

@foreach (var restaurant in Model.Restaurants)
{
    @Html.Partial("_Summary", restaurant)
}

<div>
    <a class="btn btn-primary" asp-action="Create">Add new restaurant</a>
</div>